.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}
.display {
    margin-top: 25px;
    margin-left: 25px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
  }

.logo-container {
    position: relative;
    left: 50px;
    top: 20px;
}

.buttons-div {
    display: flex;
    flex-wrap: wrap;
}

.operator-buttons {
    display: flex;
    flex-direction: column;
    margin-right: 35px;
}

.operator-buttons button{
    background-color: rgb(22, 70, 230);
}

button {
  border-radius: 50%; 
  width: 5rem;
  height: 5rem;
  margin-left: 3rem;
  margin-top: 0.5rem;  
  background-color: blue;
  color: #fff;
  font-size: 1.5rem;
}

.all-buttons {
    display: flex;
}